/**
 * @style.scss
 * Include/exclude partials to be compiled
 */
/* Global utility mixins and vars etc. */
/**
 * @file
 * bootstrap/_variables.scss
 * Defines the common breakpoint, mixins used throughout the site.
 */
/**
 * Provides a naming structure for bold/selective design/responsive
 * breakpoints.
 * 
 * @usage:
 *   bootstrap/_respond-to.scss
 * @suggestion:
 *   layouts/layout-{variable}.scss - for consistency
 */
/* line 1, ../sass/global/extends/_clearfix.scss */
.content-wrapper, .page-footer {
  content: "";
  display: table;
  clear: both;
}

/* line 1, ../sass/global/extends/_white-button.scss */
.btn-search {
  border: 1px solid #cfcfcf;
}

/**
 * Convert font-size from px to rem with px fallback
 *
 * @param $size - the value in pixel you want to convert
 *
 * e.g. p {@include fontSize(12px);}
 * 
 */
/* Base styles; unclassed HTML elements etc. */
/* line 1, ../sass/base/_elements.scss */
body {
  font-family: Georgia, serif;
  margin: 0;
}

/**
 * @file
 * base/_headings/scss
 *
 * @todo:
 * Appears-in syntax
 */
/* line 19, ../sass/base/_headings.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
}

/* Components and abstractions */
/* line 1, ../sass/components/_btn.scss */
.btn {
  text-transform: uppercase;
}

/* line 5, ../sass/components/_btn.scss */
.btn-search {
  background: none;
  height: 1.875em;
}

/* line 2, ../sass/components/_header.scss */
.page-header nav {
  border-bottom: 1px solid #cfcfcf;
  border-top: 1px solid #cfcfcf;
}

/* line 8, ../sass/components/_header.scss */
.page-header-logo {
  margin: 1.25em 0 0.3em;
}

/* line 2, ../sass/components/_main-content.scss */
.main-content p {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  color: #4c4c4c;
}

/* line 2, ../sass/components/_main-nav.scss */
.main-nav li {
  display: inline;
}
/* line 6, ../sass/components/_main-nav.scss */
.main-nav a {
  font-size: 18px;
  font-size: 1.125rem;
  color: #cfcfcf;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0.6em 0.94em;
}
/* line 16, ../sass/components/_main-nav.scss */
.main-nav a:hover {
  border-top: 3px solid #2f2e46;
  color: #2f2e46;
  margin-top: -3px;
}

/* line 1, ../sass/components/_nav.scss */
.nav {
  margin: 0;
  padding: 0;
}
/* line 5, ../sass/components/_nav.scss */
.nav li {
  list-style: none;
}
/* line 9, ../sass/components/_nav.scss */
.nav a {
  text-decoration: none;
}

/* line 2, ../sass/components/_search.scss */
.search h2 {
  display: none;
}
/* line 6, ../sass/components/_search.scss */
.search input {
  font-size: 14px;
  font-size: 0.875rem;
  border: 1px solid #cfcfcf;
  outline: none;
}

/* Layout */
/* line 1, ../sass/layout/_l-content.scss */
.content-wrapper {
  margin: 0 auto;
  width: 940px;
}

/* line 8, ../sass/layout/_l-content.scss */
.main-content {
  float: left;
  width: 660px;
}

/* line 1, ../sass/layout/_l-footer.scss */
.page-footer-wrapper {
  margin: 0 auto;
  width: 940px;
}

/* line 10, ../sass/layout/_l-footer.scss */
.nav-footer, .page-footer-contact-us {
  float: left;
  margin: 0 65px 0 0;
  padding: 0;
}

/* line 16, ../sass/layout/_l-footer.scss */
.page-footer-logo {
  float: right;
}

/* line 3, ../sass/layout/_l-header.scss */
header h1 {
  margin: 0 auto;
  width: 940px;
  text-align: center;
}
/* line 9, ../sass/layout/_l-header.scss */
header nav {
  text-align: center;
}
/* line 13, ../sass/layout/_l-header.scss */
header h2 {
  display: none;
}

/* line 1, ../sass/layout/_l-sidebar.scss */
.sidebar {
  float: right;
  width: 220px;
}
