/**
 * @style.scss
 * Include/exclude partials to be compiled
 */
/* Global utility mixins and vars etc. */
/**
 * Some defaults leveraging this breakpoints mixin.
 */
/**
 * @file
 * bootstrap/_respond-to.scss
 * Defines the common breakpoint, mixins used throughout the site.
 */
/**
 *! Provides a
 *
 *! @param $primary
 *!   .
 *! @param $secondary
 *!   .
 */
/*
@include respond-to(500px) { //min-width is default
}

@include respond-to(800px, max-width) {
}

@include respond-to(500px, 800px) {
}

@include respond-to($small) {
}

@include respond-to($upto-medium) {
}
*/
/**
 * @file
 * bootstrap/_variables.scss
 * Defines the common breakpoint, mixins used throughout the site.
 */
/**
 * Provides a naming structure for bold/selective design/responsive
 * breakpoints.
 * 
 * @usage:
 *   bootstrap/_respond-to.scss
 * @suggestion:
 *   layouts/layout-{variable}.scss - for consistency
 */
/**
 * Some defaults leveraging this breakpoints mixin.
 */
/**
 * @file
 * bootstrap/_respond-to.scss
 * Defines the common breakpoint, mixins used throughout the site.
 */
/**
 *! Provides a
 *
 *! @param $primary
 *!   .
 *! @param $secondary
 *!   .
 */
/*
@include respond-to(500px) { //min-width is default
}

@include respond-to(800px, max-width) {
}

@include respond-to(500px, 800px) {
}

@include respond-to($small) {
}

@include respond-to($upto-medium) {
}
*/
/**
 * @file
 * bootstrap/_variables.scss
 * Defines the common breakpoint, mixins used throughout the site.
 */
/**
 * Provides a naming structure for bold/selective design/responsive
 * breakpoints.
 * 
 * @usage:
 *   bootstrap/_respond-to.scss
 * @suggestion:
 *   layouts/layout-{variable}.scss - for consistency
 */
.wrapper, .page-footer {
  content: "";
  display: table;
  clear: both; }

/**
 * Convert font-size from px to rem with px fallback
 *
 * @param $size - the value in pixel you want to convert
 *
 * e.g. p {@include fontSize(12px);}
 * 
 */
/* Base styles; unclassed HTML elements etc. */
/**
 * @file
 * base/_headings/scss
 *
 * @todo:
 * Appears-in syntax
 */
h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.7rem; }

.page-title, .page-title--uppercase {
  font-size: 2rem;
  color: pink; }

.node-article .page-title {
  color: purple; }

.page-title--uppercase {
  text-transform: uppercase; }

/* Components and abstractions */
.page-header nav {
  border-bottom: 1px solid #cfcfcf;
  border-top: 1px solid #cfcfcf; }

.main-nav li {
  display: inline; }
.main-nav a {
  display: inline-block; }
  .main-nav a:hover {
    border-top: 3px solid #2f2e46; }

.nav {
  margin: 0;
  padding: 0; }
  .nav li {
    list-style: none; }
  .nav a {
    text-decoration: none; }

/* Layout */
.wrapper {
  margin: 0 auto;
  width: 940px; }

.page-footer-wrapper {
  margin: 0 auto;
  width: 940px; }

.footer-nav, .footer-contact-us {
  float: left;
  margin: 0 65px 0 0;
  padding: 0; }

.footer-logo {
  float: right; }

header h1 {
  margin: 0 auto;
  width: 940px;
  text-align: center; }
header nav {
  text-align: center; }
header h2 {
  display: none; }

.main-content {
  float: left;
  width: 660px; }

.sidebar {
  float: right;
  width: 220px; }
