.content-wrapper {
	@extend %clearfix;

	margin: 2.625em auto 0;
	width: $pageWidth;
}

.content {
	@extend %clearfix;

	width: 43.75em;
	padding: 0 1.25em 1.625em 0;

	&.content-text {
		width: 40em;
		padding-right: 3.75em;
	}
}