footer.page-footer-wrapper
	.page-footer
		ul.nav.nav-footer
			li
				a(href='#') Follow us on Twitter
			li
				a(href='#') Like us on Facebook
		ul.nav.nav-footer
			li
				a(href='#') Philosophy
			li
				a(href='#') Privacy Policy
			li
				a(href='#') Shipping &amp; Returns
			li
				a(href='#') F.A.Q.s
		section.page-footer-contact
			h2 Contact Us
			p 800.555.12345
		img.page-footer-logo(src='img/logo-footer.png', alt='Messina: Statements of Fashion')