extends layout
block content
	aside.sidebar
		.search
			h2 Search
			form(action='search.js')
				input(type='text')
				button.btn.btn-search(type='submit') Search
		h2 Kitchen
		ul.nav.nav-sidebar
			li
				a(href='#') Dining Tables &amp; Chairs
			li
				a(href='#') Must Have Appliances
			li
				a(href='#') Plates, Bowls &amp; Glasses
			li
				a(href='#') Tableware &amp; Accoutrement
	.content.content-product-list
		h1 Kitchen Dining Tables
		ol
			li#1
				a(href="#").quick-view
					h2 Big Sur Dining Table
					img(src="img/list-1.jpg")
					button.quick-view Quick View
					p.content-product-list-price $1499
			li#2
				a(href="#").quick-view
					h2 Basque Honey Table
					img(src="img/list-2.jpg")
					button.quick-view Quick View
					p.content-product-list-price $1499
			li#3
				a(href="#").quick-view
					h2 Cucina Table
					img(src="img/list-3.jpg")
					button.quick-view Quick View
					p.content-product-list-price $1499
			li#4
				a(href="#").quick-view
					h2 Arlington Table
					img(src="img/list-4.jpg")
					button.quick-view Quick View
					p.content-product-list-price $1499
			li#5
				a(href="#").quick-view
					h2 Pacifica Table
					img(src="img/list-5.jpg")
					button.quick-view Quick View
					p.content-product-list-price $1499
			li#6
				a(href="#").quick-view
					h2 Sideboard Table
					img(src="img/list-6.jpg")
					button.quick-view Quick View
					p.content-product-list-price $1499
		//- TODO: Remove all but one product overlay. Use AJAX to pull in content. Use a templating engine to convert from JSON into html.
		#quick-view-detail.quick-view-detail
			img(src="img/product-quick-view.jpg")
			p.quick-view-title
			p.quick-view-copy
			p.quick-view-dimensions
			p.quick-view-price
			button.btn-add-to-cart Add to Cart
			img.loading-placeholder(src="img/loading.gif")