extends layout
block content
	aside.sidebar
		.search
			h2 Search
			form(action='search.js')
				input(type='text')
				button.btn.btn-search(type='submit') Search
		h2 Kitchen
		ul.nav.nav-sidebar
			li
				a(href='#') Dining Tables &amp; Chairs
			li
				a(href='#') Must Have Appliances
			li
				a(href='#') Plates, Bowls &amp; Glasses
			li
				a(href='#') Tableware &amp; Accoutrement
	.content-product-list
		h1 Kitchen Dining Tables
		ol
			li
				a(href="#")
					h2 Big Sur Dining Table
					img(src="img/list-1.jpg")
					button Quick View
					p.content-product-list-price
				.product-overlay
					img(src="img/product-overlay.jpg")
					p.product-overlay-title
					p.product-overlay-copy
					p.product-overlay-dimensions
					p.product-overlay-price
					button.btn-add-to-cart Add to Cart
			li
				a(href="#")
					h2 Basque Honey Table
					img(src="img/list-1.jpg")
					button Quick View
					p.content-product-list-price
				.product-overlay
					img(src="img/product-overlay.jpg")
					p.product-overlay-title
					p.product-overlay-copy
					p.product-overlay-dimensions
					p.product-overlay-price
					button.btn-add-to-cart Add to Cart
			li
				a(href="#")
					h2 Cucina Table
					img(src="img/list-1.jpg")
					button Quick View
					p.content-product-list-price
				.product-overlay
					img(src="img/product-overlay.jpg")
					p.product-overlay-title
					p.product-overlay-copy
					p.product-overlay-dimensions
					p.product-overlay-price
					button.btn-add-to-cart Add to Cart
			li
				a(href="#")
					h2 Arlington Table
					img(src="img/list-1.jpg")
					button Quick View
					p.content-product-list-price
				.product-overlay
					img(src="img/product-overlay.jpg")
					p.product-overlay-title
					p.product-overlay-copy
					p.product-overlay-dimensions
					p.product-overlay-price
					button.btn-add-to-cart Add to Cart
			li
				a(href="#")
					h2 Pacifica Table
					img(src="img/list-1.jpg")
					button Quick View
					p.content-product-list-price
				.product-overlay
					img(src="img/product-overlay.jpg")
					p.product-overlay-title
					p.product-overlay-copy
					p.product-overlay-dimensions
					p.product-overlay-price
					button.btn-add-to-cart Add to Cart
			li
				a(href="#")
					h2 Sideboard Table
					img(src="img/list-1.jpg")
					button Quick View
					p.content-product-list-price
				.product-overlay
					img(src="img/product-overlay.jpg")
					p.product-overlay-title
					p.product-overlay-copy
					p.product-overlay-dimensions
					p.product-overlay-price
					button.btn-add-to-cart Add to Cart