/**
 * @style.scss
 * Include/exclude partials to be compiled
 */
/* Global utility mixins and vars etc. */
/**
 * @file
 * bootstrap/_variables.scss
 * Defines the common breakpoint, mixins used throughout the site.
 */
/**
 * Provides a naming structure for bold/selective design/responsive
 * breakpoints.
 * 
 * @usage:
 *   bootstrap/_respond-to.scss
 * @suggestion:
 *   layouts/layout-{variable}.scss - for consistency
 */
/**
 * Convert font-size from px to rem with px fallback
 *
 * @param $size - the value in pixel you want to convert
 *
 * e.g. p {@include fontSize(12px);}
 * 
 */
/* line 1, ../../sass/global/extends/_basic-border.scss */
.btn-search, .btn-add-to-cart, .search input {
  border: 1px solid #cfcfcf;
}

/* line 5, ../../sass/global/extends/_basic-border.scss */
.page-header nav, .page-footer-wrapper {
  border-top: 1px solid #cfcfcf;
}

/* line 9, ../../sass/global/extends/_basic-border.scss */
.page-header nav {
  border-bottom: 1px solid #cfcfcf;
}

/* line 1, ../../sass/global/extends/_clearfix.scss */
.content-product-desc, .product-detail-option, .content-wrapper, .page-footer {
  content: "";
  display: table;
  clear: both;
}

/* line 1, ../../sass/global/extends/_footer-text.scss */
.nav-footer a, .page-footer-contact h2, .page-footer-contact p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #4c4c4c;
  font-style: italic;
}

/* From http://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/ */
/* line 3, ../../sass/global/extends/_visually-hidden.scss */
.search h2, .page-header h2 {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* Base styles; unclassed HTML elements etc. */
@font-face {
  font-family: 'junction-regular';
  src: url("../fonts/Junction-webfont.eot");
  src: url("../fonts/Junction-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Junction-webfont.woff") format("woff"), url("../fonts/Junction-webfont.ttf") format("truetype"), url("../fonts/Junction-webfont.svg#junction_regularregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../../sass/base/_elements.scss */
body {
  font-family: Georgia, serif;
  margin: 0;
}

/**
 * @file
 * base/_headings/scss
 *
 * @todo:
 * Appears-in syntax
 */
/* line 19, ../../sass/base/_headings.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: junction-regular, sans-serif;
  margin-top: 0;
}

/* line 24, ../../sass/base/_headings.scss */
.heading {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0 0 0.63em;
}

/* line 30, ../../sass/base/_headings.scss */
.subheading {
  font-size: 20px;
  font-size: 1.25rem;
  border-top: 1px dotted whitesmoke;
  font-weight: 400;
  margin: 2em 0 1.05em;
}

/* Components and abstractions */
/* line 1, ../../sass/components/_btn.scss */
.btn {
  text-transform: uppercase;
}

/* line 5, ../../sass/components/_btn.scss */
.btn-search {
  font-size: 12px;
  font-size: 0.75rem;
  background: none;
  color: #90989b;
  float: right;
  font-weight: 600;
  padding: 0 4px;
  height: 30px;
  width: 58px;
}

/* line 18, ../../sass/components/_btn.scss */
.btn-add-to-cart {
  background: none;
  color: #90989b;
  font-size: 1em;
  padding: 0.5em;
}

/* line 1, ../../sass/components/_content-text.scss */
.content-text {
  padding: 0 0 1.625em;
}
/* line 4, ../../sass/components/_content-text.scss */
.content-text > div {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 58px;
  -moz-column-gap: 58px;
  -ms-column-gap: 58px;
  -o-column-gap: 58px;
  column-gap: 58px;
  text-align: justify;
}
/* line 11, ../../sass/components/_content-text.scss */
.content-text p {
  color: #4c4c4c;
  hyphens: auto;
  line-height: 1.4;
  margin: 0 0 1.125em;
}

/* line 1, ../../sass/components/_nav.scss */
.nav {
  margin: 0;
  padding: 0;
}
/* line 5, ../../sass/components/_nav.scss */
.nav li {
  list-style: none;
}
/* line 9, ../../sass/components/_nav.scss */
.nav a {
  text-decoration: none;
}

/* line 2, ../../sass/components/_nav-footer.scss */
.nav-footer li {
  margin: 0 0 1.125em;
}
/* line 9, ../../sass/components/_nav-footer.scss */
.nav-footer a:hover, .nav-footer a.active {
  margin-left: -11px;
}
/* line 12, ../../sass/components/_nav-footer.scss */
.nav-footer a:hover:before, .nav-footer a.active:before {
  content: "\00BB\00A0";
}

/* line 2, ../../sass/components/_nav-main.scss */
.nav-main li {
  display: inline;
}
/* line 6, ../../sass/components/_nav-main.scss */
.nav-main a {
  font-size: 18px;
  font-size: 1.125rem;
  color: #cfcfcf;
  display: inline-block;
  font-family: junction-regular, sans-serif;
  font-weight: 300;
  margin: 0 0.92em;
  text-transform: uppercase;
  padding: 0.6em 0;
}
/* line 17, ../../sass/components/_nav-main.scss */
.nav-main a:hover {
  border-top: 3px solid #2f2e46;
  color: #2f2e46;
  margin-top: -3px;
}

/* line 2, ../../sass/components/_nav-sidebar.scss */
.nav-sidebar li {
  margin: 0 0 1em;
}
/* line 6, ../../sass/components/_nav-sidebar.scss */
.nav-sidebar a {
  font-size: 16px;
  font-size: 1rem;
  color: #aaa9ba;
  font-style: italic;
}
/* line 12, ../../sass/components/_nav-sidebar.scss */
.nav-sidebar a:hover, .nav-sidebar a.active {
  margin-left: -13px;
}
/* line 15, ../../sass/components/_nav-sidebar.scss */
.nav-sidebar a:hover:before, .nav-sidebar a.active:before {
  content: "\00BB\00A0";
}

/* line 1, ../../sass/components/_page-footer.scss */
.page-footer-wrapper {
  -webkit-box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.1);
  background: url(../img/footer-bg.png) repeat;
  padding: 2.5em 0 7.5em;
}

/* line 14, ../../sass/components/_page-footer.scss */
.page-footer-contact h2 {
  font-family: Georgia, serif;
  font-weight: 500;
  margin: 0 0 1.125em;
}

/* line 6, ../../sass/components/_search.scss */
.search input {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: junction-regular, sans-serif;
  height: 28px;
  margin: 0 1px 0 0;
  outline: none;
  padding: 0 4px;
  vertical-align: top;
  width: 148px;
}

/* line 2, ../../sass/components/_sidebar.scss */
.sidebar h2 {
  font-size: 18px;
  font-size: 1.125rem;
  border-bottom: 1px solid #90989b;
  font-weight: 400;
  margin: 2em 0 0.5em;
  padding: 0 0 0.5em;
}

/* line 2, ../../sass/components/_content-product-detail.scss */
.content-product-detail .gallery, .content-product-detail .content-product-desc {
  display: inline-block;
  margin-right: 1.25em;
  vertical-align: top;
}

/* line 9, ../../sass/components/_content-product-detail.scss */
.content-product-desc {
  width: 18.625em;
}
/* line 14, ../../sass/components/_content-product-detail.scss */
.content-product-desc h2 {
  font-size: 1.5em;
  font-weight: 300;
}
/* line 19, ../../sass/components/_content-product-detail.scss */
.content-product-desc .btn-add-to-cart {
  float: right;
  margin-top: -0.45em;
}

/* line 25, ../../sass/components/_content-product-detail.scss */
.content-product-copy {
  color: #aaa9ba;
  font-size: 0.875em;
}

/* line 30, ../../sass/components/_content-product-detail.scss */
.content-product-dimensions {
  color: #cfcfcf;
  font-size: 0.875em;
  float: left;
  margin-bottom: 1.15em;
  white-space: pre;
}

/* line 38, ../../sass/components/_content-product-detail.scss */
.content-product-price {
  color: #2f2e46;
  float: right;
  font-family: junction-regular, sans-serif;
  margin-top: 2.125em;
}

/* line 45, ../../sass/components/_content-product-detail.scss */
.product-detail-option {
  float: left;
}

/* line 2, ../../sass/components/_gallery.scss */
.gallery a {
  display: inline-block;
}

/* line 7, ../../sass/components/_gallery.scss */
.gallery-thumbs {
  list-style: none;
  padding: 0;
}
/* line 11, ../../sass/components/_gallery.scss */
.gallery-thumbs li {
  display: inline-block;
  margin-right: 1.25em;
}
/* line 16, ../../sass/components/_gallery.scss */
.gallery-thumbs li:last-child {
  margin-right: 0;
}

/* line 21, ../../sass/components/_gallery.scss */
.gallery-img-main {
  border: 1px solid #cfcfcf;
  display: block;
}

/* line 2, ../../sass/components/_suggested-items.scss */
.suggested-items h2 {
  font-size: 1.25em;
  font-weight: 300;
  margin: 2em 0 1em;
}
/* line 8, ../../sass/components/_suggested-items.scss */
.suggested-items ul {
  list-style: none;
  padding: 0;
}
/* line 13, ../../sass/components/_suggested-items.scss */
.suggested-items li {
  display: inline-block;
}

/* Layout */
/* line 1, ../../sass/layout/_l-content.scss */
.content-wrapper {
  margin: 2.625em auto 0;
  width: 940px;
}

/* line 8, ../../sass/layout/_l-content.scss */
.content-text {
  float: left;
  padding: 0 40px 0 0;
  width: 661px;
}

/* line 1, ../../sass/layout/_l-footer.scss */
.page-footer {
  margin: 0 auto;
  position: relative;
  width: 940px;
}

/* line 9, ../../sass/layout/_l-footer.scss */
.nav-footer, .page-footer-contact-us {
  float: left;
  margin: 0 65px 0 0;
  padding: 0;
}

/* line 15, ../../sass/layout/_l-footer.scss */
.page-footer-logo {
  position: absolute;
  right: 1.25em;
  top: 0;
}

/* line 2, ../../sass/layout/_l-header.scss */
.page-header nav {
  text-align: center;
}

/* line 11, ../../sass/layout/_l-header.scss */
.page-header-logo {
  margin: 1.25em auto 0.5em;
  width: 940px;
}
/* line 15, ../../sass/layout/_l-header.scss */
.page-header-logo a {
  display: block;
}
/* line 19, ../../sass/layout/_l-header.scss */
.page-header-logo img {
  display: block;
  margin: 0 auto;
}

/* line 1, ../../sass/layout/_l-sidebar.scss */
.sidebar {
  float: right;
  width: 221px;
}
