.btn {
	text-transform: uppercase;
}

.btn-search {
	@extend %basic-border;
	@include fontSize(12px);

	background: none;
	color: $lightGrey;
	font-weight: 600;
	padding: 0 4px;
	height: 30px;
	width: 58px;
}