.btn {
	text-transform: uppercase;
}

.btn-search {
	@extend %basic-border;
	@include fontSize(12px);

	background: none;
	color: $lightGrey;
	float: right;
	font-weight: 600;
	padding: 0 4px;
	height: 30px;
	width: 58px;
}

.btn-add-to-cart {
	@extend %basic-border;

	background: none;
	color: $lightGrey;
	font-size: 1em;
	padding: 0.5em;
}