.content-text {
	width: 42.5em;
	padding-right: 2.5em;

	> div {
		@include column-count(2);
		@include column-gap(58px);

		text-align: justify;
	}

	p {
		color: $darkestGrey;
		hyphens: auto;
		line-height: 1.4;
		margin: 0 0 1.125em;
	}
}

.content-product-detail {
	.gallery, .product-desc {
		display: block;
		float: left;
	}

	.gallery {
		margin-right: 1.25em;
		width: 23.75em;
	}

	.product-desc {
		width: 18.75em;
	}
}

.content-product-list {
	h1, h2 {
		@extend %visually-hidden;
	}

	li {
		display: inline-block;
		list-style: none;
		margin: 0 1.25em 0 0;
		position: relative;

		&:nth-child(3n) {
			margin-right: 0;
		}
	}

	a {
		display: block;

		> button {
			bottom: 1em;
			font-size: 0.75em;
			left: 28%;
			position: absolute;
			width: 44%;
		}
	}
}