.main-nav {
	border-bottom: $borderWidth $borderStyle $borderColor;
	border-top: $borderWidth $borderStyle $borderColor;		

	h2 {
		display: none;
	}

	li {
		display: inline;
	}

	a {
		display: inline-block;

		&:hover {
			border-top: 3px solid $darkBlue;
		}
	}
}