.nav-sidebar {
	li {
		margin: 0 0 1em;
	}

	a {
		@include fontSize(16px);

		color: $lighterGrey;
		font-style: italic;

		&:hover, &.active {
			margin-left: -13px;

			&:before {
				content: "\00BB\00A0";
			}
		}
	}
}