.page-footer-wrapper {
	@extend %basic-border-top;
	@include single-box-shadow(rgba(0,0,0,0.1), 0, 2px, 3px, 0px, true);

	background: url(../img/footer-bg.png) repeat;
	padding: 2.5em 0 7.5em;
}

.page-footer-contact {
	display: inline-block;
	
	p {
		@extend %footer-text;

		height: 19px;
		margin: 0 0 1.125em;
	}
}