.product-desc {
	@extend %clearfix;

	width: 18.625em;

	h3 {
		font-size: 1.5em;
		font-weight: 300;
	}

	.btn-add-to-cart {
		float: right;
		margin-top: -0.45em;
	}
}

.product-copy {
	color: $lighterGrey;
	font-size: 0.875em;
}

.product-dimensions {
	color: $lightestGrey;
	font-size: 0.875em;
	float: left;
	margin-bottom: 1.15em;
	white-space: pre;
}

.product-price {
	color: $darkBlue;
	float: right;
	font-family: $headingFont;
	margin-top: 2.125em;
}

.product-option {
	@extend %clearfix;

	float: left;
}