.search {
	h2 {
		@extend %visually-hidden;
	}

	input {
		@extend %basic-border;
		@include fontSize(14px);

		font-family: $headingFont;
		height: 28px;
		margin: 0 1px 0 0;
		outline: none;
		padding: 0 4px;
		vertical-align: top;
		width: 148px;
	}	
}